<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <style media="screen">
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Home</h1>
    <p>Este es un texto sin sentido.</p>
  </body>
</html>
